.navbar {
    background-color: $color-secondary;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
}

.nav-btn {
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: 2px;
    width: 3.5rem;
    margin-left: 2.5rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 3.5rem;
        content: "";
        display: block; 
    }

    &::before { transform: translateY(-1.2rem);}
    &::after { transform: translateY(1rem);}
}